body {
  background: #f8f8f8;
  font-family: "Inter", sans-serif;
}

#test_task {
  max-width: 1239px;
  margin: 0 auto;
}

#test_task .header {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

#test_task .header__block {
  display: flex;
  align-items: center;
  width: 100%;
}

#test_task .logo {
  width: 48px;
  height: 19px;
}

#test_task .header__burger {
  display: none;
  width: 26.26px;
  height: 30px;
}

#test_task .header__back {
  display: none;
  width: 20px;
  height: 20px;
}

#test_task .search-bar {
  display: flex;
  margin-left: 158px;
  width: 609px;
  height: 39px;
  border-radius: 80px;
  border: 1px solid #0000001a;
}

#test_task .search-input {
  width: 100%;
  background-color: inherit;
  margin: 6px;
  border: none;
}

#test_task .search-button {
  width: 28px;
  height: 28px;
  border-radius: 33px;
  margin: 6px 6px 6px auto;
  border: none;
  background-color: #ffb13c;
  background-image: url(./images/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#test_task .navigation {
  margin-left: auto;
  padding-right: 4px;
}

#test_task .navigation__list {
  display: flex;
  align-items: center;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#test_task .navigation__item {
  width: 24px;
  height: 24px;
}

#test_task .navigation__link {
  text-decoration: none;
  color: inherit;
}

#test_task .navigation__item_person {
  background-image: url(./images/person-icon.svg);
}

#test_task .navigation__item_favorites {
  background-image: url(./images/favourites-icon.svg);
}

#test_task .navigation__item_shopping-cart {
  background-image: url(./images/shopping-cart.svg);
}

#test_task .menu__list {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

#test_task .menu__link {
  text-decoration: none;
  color: inherit;
}

.main {
  max-width: 1239px;
  margin-top: 51px;
  display: flex;
  gap: 19.7px;
}

.main-navigation {
  min-width: 190.3px;
  background-color: #fff;
  border-radius: 32px 32px 0px 0px;
}
.main-navigation__list {
  margin: 60px 0 20px 20px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main-navigation__item {
}

.main-navigation__item_active {
  color: #ffb13c;
}

.main-navigation__item_exit {
  margin-top: 403px;
}
.main-navigation__link {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.main-navigation__link p {
  margin: 0;
}

.main-navigation__image {
}

.main-navigation__image_active {
  color: #ffb13c;
}

.exit {
}
.profile {
  background-color: #fff;
  width: 100%;
  border-radius: 32px 32px 0px 0px;
}

.profile__block {
  margin-top: 60px;
  margin-left: 105px;
  display: flex;
  gap: 90px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  position: relative;
}
.profile__photo {
}
.profile__edit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: #ffb13c;
  border: none;
  border-radius: 48px;
  background-repeat: no-repeat;
  background-image: url(./images/pencil-icon.svg);
  background-position: center;
}

.profile__menu {
  padding-top: 73px;
  display: flex;
  gap: 125px;
}

.profile__menu-item {
  text-decoration: none;
  color: inherit;
  background-color: #f8f8f8;
  border-radius: 12px;
  width: 190px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.about {
  margin-left: 211px;
  margin-top: 32px;
}

.about h2 {
  margin: 0;
}

.profile__form {
  margin-top: 30px;
}

.profile__form:not(:last-child) {
  margin-bottom: 40px;
}

.form__block {
  position: relative;
}

.form__label {
  display: block;
  position: absolute;
  top: 18.5px;
  left: 15px;
  color: #9e9e9e;
  transition: 0.3s;
  pointer-events: none;
}

.form__input {
  position: relative;
  width: 579px;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: none;
  transition: 0.3s;
  padding: 18.5px 15px;
  font-size: 16px;
  font-weight: 400;
  transition: border 3s;
}

.form__input:focus + .form__label,
.form__input:not(:focus):valid + .form__label {
  position: absolute;
  top: 7px;
  left: 15px;
  font-size: 12px;
  color: #9e9e9e;
}

.form__input:focus,
.form__input:not(:focus):valid {
  background-color: #fff;
  border: 1px solid #ffb13c;
  border-radius: 8px;
  padding: 30px 15px 7px;
}

.form__input:focus,
.form__input:not(:focus):valid {
  background-color: #fff;
  border: 1px solid #ffb13c;
  border-radius: 8px;
  padding: 30px 15px 7px;
}

.form__text {
  margin: 5px 0 20px;
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
}

.mobile-navigation {
  display: none;
}

/* ----------------- 1195px */

@media (max-width: 1195px) {
  #test_task {
    max-width: 1134px;
  }

  #test_task .search-bar {
    margin-left: 137px;
    width: 550px;
  }

  .main {
    max-width: 1134px;
    margin-top: 51px;
    gap: 10px;
  }

  .main-navigation {
    min-width: 181px;
    background-color: #fff;
    border-radius: 32px 32px 0px 0px;
  }

  .main-navigation__list {
    margin: 60px 0 20px 20px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 63px;
  }

  .main-navigation__item_exit {
    margin-top: 314px;
  }

  .profile__block {
    margin-left: 96px;
    gap: 70px;
  }

  .profile__menu {
    display: flex;
    gap: 106px;
  }

  .profile__menu-item {
    width: 180px;
  }

  .about {
    margin-left: 190px;
  }

  .form__input {
    width: 532px;
    border-radius: 8px;
    background-color: #f5f5f5;
    border: none;
    transition: 0.3s;
    padding: 18.5px 15px;
    font-size: 16px;
    font-weight: 400;
    transition: border 3s;
  }
}

/* ----------------- 980px */

@media (max-width: 980px) {
  #test_task {
    max-width: 770px;
  }

  #test_task .search-bar {
    margin-left: 174.84px;
    width: 377px;
  }

  #test_task .header__burger {
    display: block;
    background-image: url(./images/burger-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: inherit;
    padding: 6.56px 4.1px;
  }

  .main {
    max-width: 770px;
    margin-top: 30px;
    gap: 17px;
  }

  .logo {
    display: none;
  }

  .menu {
    display: none;
  }

  .main-navigation {
    min-width: 181px;
    background-color: #fff;
    border-radius: 32px 32px 0px 0px;
  }

  .main-navigation__list {
    margin: 60px 0 20px 20px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 63px;
  }

  .main-navigation__item_exit {
    margin-top: 314px;
  }

  .profile__block {
    margin-left: 0px;
    gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .profile__menu {
    display: flex;
    gap: 81px;
    padding: 0;
  }

  .profile__menu-item {
    width: 180px;
  }

  .about {
    margin-left: 68px;
  }

  .form__input {
    width: 409px;
  }
}

@media (max-width: 760px){
  #test_task .search-bar {
    display: none;
  }

  .profile__menu {
    gap: 10px;
  }

  .form__input {
    max-width: 75%;
  }
}

@media (max-width: 420px){
  .profile__menu {
    flex-direction: column;
  }
}

/* ----------------- 376px */

@media (max-width: 376px) {
  body {
    background-color: #fff;
  }

  #test_task {
    background-color: #fff;
  }

  #test_task .header__back {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: inherit;
    background-image: url(./images/back-icon.svg);
  }

  .header {
    position: relative;
  }

  .about h2 {
    font-size: 20px;
  }

  .logo {
    display: block;
    position: absolute;
    left: calc(50% - 25px);
  }

  #test_task .header__burger {
    display: none;
  }

  .navigation {
    display: none;
  }

  #test_task .search-bar {
    display: none;
  }

  .main {
    margin-top: 35px;
    flex-direction: column;
  }

  .main-navigation {
    display: none;
  }

  .profile__form {
    max-width: 343px;
    margin-top: 20px;
  }

  .profile__block {
    margin: 0;
    gap: 25px;
  }

  .profile__menu {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .profile__menu-item {
    width: 100%;
  }

  .about {
    max-width: 343px;
    margin-top: 35px;
    margin-left: 0;
  }

  .form__block {
    max-width: 343px;
  }

  .form__input {
    max-width: 91%;
  }

  .mobile-navigation {
    display: block;
    border-top: 1px solid #f5f5f5;
    padding: 9px 3px 0;
  }

  .mobile-navigation__list {
    max-width: 343px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-navigation__image {
    width: 26px;
    height: 26px;
  }

  .mobile-navigation__link {
    width: 100%;
    text-decoration: none;
    color: inherit;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.23999999463558197px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobile-navigation__link_active {
    color: #ffb13c;
  }
}
